{% extends 'twoxstockfinderapp/base.html' %}

{% block content %}

<div class="container mt-5">
    <h5 class="text-center text-primary"><i class="bi bi-list-check"></i> 決算データをリストに新規登録するか、過去の決算データを確認するか選んでください</h5>

    <div class="row mt-4 justify-content-center">
        <div class="col-md-6 text-center">
            <!-- 入力フォーム遷移ボタン -->
            <a href="/input_form" class="btn btn-success mb-3 d-block"><i class="bi bi-plus-circle"></i> 新規決算データをリストに追加する</a>
            <!-- 決算データリスト一覧遷移ボタン -->
            <a href="/history" class="btn btn-info d-block"><i class="bi bi-folder2-open"></i> 決算データリストを確認する</a>
        </div>
    </div>
    
    <div class="row mt-4 justify-content-center">
        <div class="col-md-8 text-center">
            <p class="text-muted">過去2014～2023年度の上場企業の決算データを学習しています。</p>
            <p class="text-muted">3年以内に株価が2倍になりそうな銘柄をAIで予測します。</p>
        </div>
    </div>
</div>

{% endblock %}